<!DOCTYPE html>
<html>
  <head>
    <title>Hotel Delivery</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css" media="screen" title="no title">
    <link rel="stylesheet" href="/stylesheets/styles.css" media="screen" title="no title">
  </head>

  <body>
    <%= yield %>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/javascripts/jquery.js"></script>
  </body>
</html>
